[versionner]
file = ./VERSION
date_format = %d-%m-%Y
up_part = patch
default_init_version = 0.0.1

[vcs]
engine = git
commit_message = '%(version)s'

[file:setup.py]
enabled = true
search = ^\s*__version__\s*=.*$
replace = __version__ = '%(version)s'
date_format = %d-%m-%Y
match = line
search_flags = 
encoding = utf-8